.TitleSection {
  margin-top: 12px;
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  padding-top: 22px;
  position: relative;
  width: 100%;
  box-sizing: border-box;

  &::before {
    content: '';
    position: absolute;
    background-color: rgb(103, 58, 183);
    top: 0px;
    left: 0px;
    height: 10px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
