.TitleSection {
  margin-top: 12px;
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  padding-top: 22px;
  position: relative;
  width: 100%;
  box-sizing: border-box;

  &.Half {
    padding: 0;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: rgb(103, 58, 183);
    top: 0px;
    left: 0px;
    height: 10px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .Half {
    div {
      padding: 24px;
      background-color: rgb(103, 58, 183);
      margin: 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: .1px;
      line-height: 24px;
      font-weight: 400;
      color: white;
    }

    p {
      padding: 24px;
      font-size: 12px;
    }
  }
}
